.App {
text-align: center;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
min-height: 10vh;
color: aliceblue;
background-color: gray;
}

button {
color: #ffffff;
padding: 5px 25px;
margin:10px;
font-size: 15px;
text-transform: uppercase;
width: 300px;
border-radius: 15px;
background-color: #007bff;
box-decoration-break: slice;
box-shadow: black 5px 5px 5px;
}

body{
    background-color: lightgray;
    text-shadow: black 5px 5px 5px;

}